language: python
python:
  - "2.6"
  - "2.7"
  - "3.2"
  - "3.3"
install:
  - "pip install -r dev-requirements.txt --use-mirrors"
  - "pip install coverage"
  - "pip install coveralls"
script:
  - "python setup.py test"
after_success:
  coveralls
