#https://github.com/jtauber/sebastian/archive/master.zip
six==1.10.0
numpy==1.10.4
pip==8.0.2
setuptools==19.6
wheel==0.26.0
pytest-cov==2.2.0
pylint==1.5.4
check-manifest==0.30
bumpversion==0.5.3
ipdb==0.8.1
